@page "/"

<div class="text-center">
    <h1>Trabajo Práctico 4</h1>

    <h3>Consumo de API REST con Blazor Hybrid</h3>

    <p>
        Aplicación desarrollada utilizando HttpClient y JSONPlaceholder.
    </p>
</div>

<div class="card mt-4">
    <div class="card-header">
        Funcionalidades implementadas
    </div>

    <div class="card-body">
        <ul>
            <li>GET - Obtener Posts</li>
            <li>POST - Crear Post</li>
            <li>PUT - Modificar Post</li>
            <li>DELETE - Eliminar Post</li>
        </ul>
    </div>
</div>